[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	editor = vim

[user]
	email = contact@mickael-vieira.com
	name = Mickael Vieira

[alias]
	st = status
	co = checkout
	ci = commit
	cl = clone
	br = branch
	fo = fetch origin

[push]
	default = current

[difftool]
	prompt = false

[merge]
	# Let's use meld as a merge tool
	tool = meld

[mergetool]
	# Do not keep .orig files after merging
	keepBackup = false

[help]
	# Automatically correct
	# and execute mistyped commands
	# after 1s
	autocorrect = 10
	
