[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	editor = vim

[user]
	email = contact@mickael-vieira.com
	name = Mickael Vieira

[alias]
	st = status
	co = checkout
	ci = commit
	cl = clone
	br = branch
	fo = fetch origin

[push]
	default = current

[difftool]
	prompt = false

[merge]
	# Let's use meld as a merge tool
	tool = meld

[mergetool]
	# Do not keep .orig files after merging
	keepBackup = false

[help]
	# Automatically correct
	# and execute mistyped commands
	# after 1s
	autocorrect = 10

[color]
    ui = auto

# The colors accepted are normal, black, red, green, yellow, blue, magenta, cyan and white.
# The attributes are bold, dim, ul, blink and reverse.

[color "branch"]
    current = white         # default: green, current branch
#    local = white           # default: white, a local branch
#    remote = blue           # default red, a remote-tracking branch in refs/remotes/
#    upstream = white       # upstream tracking branch
#    plain = white          # other refs
[color "diff"]
    meta = blue     # meta information
#    frag = magenta bold    # hunk header
#    func = red bold        # function in hunk header
#    old = red bold          # default: red, removed lines
    new = white       # default: green, added lines
#    commit = white         # commit headers
#    whitespace = red       # highlighting whitespace errors
[color "status"]
#    added = cyan bold     # default: green, added or updated, files which are added but not committed
    changed = white        # default: red, files which are changed but not added in the index
#    untracked = red bold    # default: red, files which are not tracked by Git
    # branch (the current branch)
    # nobranch (the color the no branch warning is shown in, defaulting to red).


