[core]
	excludesfile = /home/mickael/.gitignore
[user]
	email = contact@mickael-vieira.com
	name = Mickael Vieira
[alias]
	st = status
	co = checkout
	ci = commit
	cl = clone
	br = branch
	fo = fetch origin
[push]
	default = current
[difftool]
	prompt = false
[merge]
	tool = meld
