"*":
  autosave:
    enabled: true
  core:
    telemetryConsent: "limited"
  editor:
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "41d41284-6dcc-1a81-e39d-e6f0cdaf7017"
  linter: {}
  "linter-eslint": {}
  "linter-rust": {}
  "linter-shellcheck":
    enableNotice: true
    userParameters: "-x -e SC1090,SC1091,SC2155,SC2030,SC2031"
  "linter-ui-default":
    panelHeight: 377
    showPanel: true
  racer: {}
  welcome:
    showOnStartup: false
".php.source":
  tabLength: 4
".shell.source":
  tabLength: 4
